{% extends 'base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us....</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to Prabal Ecommerse
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <p align="justify">
        <br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper
        arcu sit amet erat pulvinar aliquam. Nam consectetur a tellus ac
        facilisis. Duis rhoncus fringilla dolor. Nullam blandit felis metus,
        eget semper velit semper sit amet. In maximus fringilla tortor in
        eleifend. Aenean a mi lacus. Pellentesque eget consequat erat. Praesent
        rutrum ante metus, eget iaculis mi posuere at. Nam ante sapien,
        dignissim vel lectus quis, tempor commodo ante. Proin vel nisl tellus.
        Aenean nec diam sit amet dolor tincidunt luctus. Aliquam ut sem
        venenatis, euismod libero vel, maximus nisl. Quisque non tellus sit amet
        turpis tincidunt sagittis et at augue. Sed ac gravida ex, ut auctor
        felis. Curabitur cursus tellus mauris, sit amet auctor sem rhoncus ut.
        Suspendisse semper, nibh ac convallis mollis, nibh quam imperdiet nisl,
        vel mattis velit urna ut enim.
        <br /><br />
        Phasellus posuere aliquet nisl id accumsan. Sed elit nulla, blandit ac
        ultrices ut, laoreet sed est. Vivamus quis augue tellus. Pellentesque et
        lectus enim. Vestibulum dapibus nunc quis magna feugiat interdum. Donec
        libero dui, gravida quis tortor molestie, tempor porttitor elit. Vivamus
        eu nisi a elit convallis pretium in id nulla. Donec nec ex eu felis
        pellentesque scelerisque. Sed non purus facilisis, sollicitudin nisi
        nec, convallis nunc. Curabitur gravida lacus ac suscipit sodales. Nam
        interdum sit amet ligula ut bibendum. Sed placerat ex eu justo varius
        maximus.
        <br /><br />
        Vivamus mollis ligula sed eros euismod, at fermentum risus aliquam.
        Aliquam erat volutpat. Fusce eleifend nec dui in accumsan. Aliquam erat
        volutpat. Nullam eleifend enim enim, nec feugiat dui mattis quis. Donec
        euismod dictum dui at consectetur. Vivamus fringilla erat at erat porta
        finibus. Vestibulum non rutrum est. Maecenas at tincidunt ante. Interdum
        et malesuada fames ac ante ipsum primis in faucibus. Nulla sit amet
        neque eget tellus euismod dapibus et eget tellus.
        <br /><br />
      </p>
    </center>
  </div>
</div>
{% endblock %}
